<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ SimpleShop: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        body {
            background-color: #ffffff;
        }
        nav {
            background-color: #ffffff;
        }
        .card {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    {% block container %}
        <div class="container">
        {% include 'frontend/header.html' with nav=nav %}
        {% block content %}

        {% endblock %}
    {% endblock container %}

    <nav class="navbar">
        <a class="navbar-brand" href="#!">DJ SimpleShop</a>
    </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>