{% extends 'frontend/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="jumbotron text-center bg-light" style="margin-top: 20px;">
    <h1>Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
    <a href="#" class="btn btn-primary my-2">Main call to action</a>
    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
</section>

<section class="row">
    {% for product in products %}
        {% include 'shop/product_summary.html' %}
    {% empty %}
        <p class="text-center col-md-12">No Products available.</p>
    {% endfor %}
</section>
{% endblock content %}

{% block container %}
    {% with nav='home' %}
    {{ block.super }}
    {% endwith %}
{% endblock %}