{% extends 'frontend/base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h2 class="text-center">My Orders</h2>
    </div>

    {% if transactions %}
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Number of Items</th>
            <th>Status</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'order_detail' transaction.id %}">{{ transaction.created_at|date:"D d M Y" }}</a></td>
            <td>{{ transaction.order.total_items }}</td>
            <td>{{ transaction.get_transaction_status_display }}</td>
            <td>${{ transaction.price }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
        <p class="text-center">No Orders</p>
      {% endif %}

{% endblock %}